<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title th:text="${congress.getTitle()}"></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .td1{
            width: 300px;
        }
        table{
            width: 50%;
            text-align: center;
            margin-top: 150px;
        }
    </style>

    <script src="js/html5shiv.min.js"></script>
    <script src="js/respond.min.js"></script>

</head>
<body>
<div>
    <table>
        <caption th:text="${congress.getTitle()}"></caption>
        <tr>
            <td class="td1">组织者:</td>
            <td th:text="${organizerName}"></td>
        </tr>
        <tr>
            <td class="td1">内容:</td>
            <td th:text="${congress.getContent()}"></td>
        </tr>
        <tr>
            <td class="td1">地点:</td>
            <td th:text="${congress.getPlace()}"></td>
        </tr>
        <tr>
            <td class="td1">开始时间:</td>
            <td th:text="${congress.getStartTime()}"></td>
        </tr>
        <tr>
            <td class="td1">结束时间:</td>
            <td th:text="${congress.getEndTime()}"></td>
        </tr>
        <tr>
            <td class="td1">会议开始时间:</td>
            <td th:text="${congress.getRegisterStartTime()}"></td>
        </tr>
        <tr>
            <td class="td1">会议结束时间:</td>
            <td th:text="${congress.getRegisterEndTime()}"></td>
        </tr>
    </table>
</div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="js/bootstrap.min.js"></script>
</html>