<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>创建会议</title>

    <style>
        .showCongress{
            margin-top: 100px;
        }
    </style>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>

</head>
<body>
<form style="text-align: left;margin-top: 150px;margin-left: 300px" th:action="@{/organizer/congress}">
    会议名称:<input type="text" name="title"/><br>
    内容:<textarea name="content" ></textarea><br>
    地点:<input type="text" name="place" /><br>
    开始时间:
    <input type="text" name="startTimeYear" />年
    <input type="text" name="startTimeMonth" />月
    <input type="text" name="startTimeDay"/>日
    <input type="text" name="startTimeHour" />点
    <input type="text" name="startTimeMinute" />分<br>
    结束时间:
    <input type="text" name="endTimeYear" />年
    <input type="text" name="endTimeMonth" />月
    <input type="text" name="endTimeDay"/>日
    <input type="text" name="endTimeHour" />点
    <input type="text" name="endTimeMinute" />分<br>
    <button class="btn btn-lg btn-primary btn-block" type="submit">创建</button>
</form>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../js/bootstrap.min.js"></script>
</html>