<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>查看已经参加的会议</title>

    <style>
        .showCongress{
            margin-top: 100px;
        }
    </style>
    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">


    <script src="../js/html5shiv.min.js"></script>
    <script src="../js/respond.min.js"></script>

</head>
<body>
<a th:href="@{/organizer/creat}"><button class="btn btn-sm btn-danger deleteBtn">创建会议</button></a>
<div th:if="${allCongress.size()!=0}">
    <div class="container showCongress" th:if="${allCongress!=null}">
        <div class="row" >
            <div class="col-sm-6 col-md-4 col-lg-3 " th:each="congress:${allCongress}">
                <div class="thumbnail" style="height: 360px;">
                    <a th:href="@{/congress/}+${congress.getCongressId()}" >
                        <img class="lazy" th:src="'../img/'+${congress.getImage()}+'.jpg'" alt="会议图片" width="300" height="150">
                    </a>
                    <div class="caption">
                        <h3>
                            <a th:href="@{/congress/}+${congress.getCongressId()}" th:text="${congress.getTitle()}"></a>
                        </h3>
                        <p th:text="${#strings.substring(congress.getContent(),0,20)}"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:unless="${allCongress.size()!=0}" >
    你还木有创建会议
</div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="../js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="../js/bootstrap.min.js"></script>
</html>