<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>会务管理系统</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: black;
        }
        a:hover{
            font-size: 5em;
            color: white;
            text-decoration: none
        }
        a:active, a:link, a:visited{
            color: white;
            text-decoration: none
        }
        a {
            color: white;
            font-size: 3em;
            text-decoration: none
        }
    </style>
</head>

<body>
<div class="links span8" style="text-align: center;margin-top: 250px;">
    <a th:href="@{/manager/enter}">administrator user</a><br>
    <a th:href="@{/common/enter}">ordinary user</a><br>
    <a th:href="@{/driver/enter}">driver user</a><br>
    <a th:href="@{hotel/enter}">hotel user</a><br>
</div>
</body>
<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
<script src="/js/jquery.min.js"></script>
<!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
<script src="/js/bootstrap.min.js"></script>
<script src="js/mouse.js"></script>
</html>
